
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form action="/User/LoginForm" method="post">
    <label for="userid">Username</label><br>
    <input type="text" name="username" value="test"><br>
    <label for="text">Password</label><br>
    <input type="text" name="password" value="test"><br><br>
    <input type="submit" value="Submit">
</form>

