
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form action="/User/RegisterForm" method="post">
    <label for="userid">Username</label><br>
    <input type="text" name="username" value="test"><br>
    <label for="text">Password</label><br>
    <input type="text" name="password" value="test2"><br><br>
    <input type="submit" value="Submit">
</form>

