@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor

<div class="text-center">
    <h3 class="display-2">Welcome to</h3>
    <h3 class="display-4">ChatHUB</h3>
    @Context.Session.GetString("user")
</div>
